/data/CORE-corpus
/data/FinCORE_full
/data/FreCORE
/data/SweCORE
*.env
*checkpoints
*mlruns
/models
/tmp_trainer
*.ipynb_checkpoints
/token-qa/datasets/*
token-qa/results/*
token-qa/qa-labelled/unsorted/qa_binary_suomi24.jsonl.gz
token-qa/qa-labelled/sorted/sorted_qa_binary_cc-fi_all.tsv.gz
token-qa/qa-labelled/annotated/*
models_for_Amanda/*