register-identification/data/CORE-corpus
register-identification/data/FinCORE_full
register-identification/data/FreCORE
register-identification/data/SweCORE
*.env
*checkpoints
*mlruns
/models
/tmp_trainer
*.ipynb_checkpoints
token-classification/datasets/*
token-classification/results/*
register-identification/labelled-data/register-sorted/sorted_qa_binary_cc-fi_all.tsv.gz
register-identification/labelled-data/register-unsorted/qa_binary_suomi24.jsonl.gz
token-classification/models_for_Amanda/*
register-identification/data/predictions/*