register-identification/data/CORE-corpus
register-identification/data/FinCORE_full
register-identification/data/FreCORE
register-identification/data/SweCORE
*.env
*checkpoints
*mlruns
/models
/tmp_trainer
*.ipynb_checkpoints
token-classification/datasets/*
token-classification/results/*
token-classification/results/qa_heuristics/
token-classification/results/recent/
token-classification/results/n*
token-classification/results/falcon*
token-classification/results/OLD*
token-classification/qa-labelled/unsorted/qa_binary_suomi24.jsonl.gz
token-classification/qa-labelled/sorted/sorted_qa_binary_cc-fi_all.tsv.gz
token-classification/qa-labelled/sorted/sorted_qa_binary_cc-fi.tsv.gz
token-classification/qa-labelled/annotated/*
token-classification/models_for_Amanda/*
register-identification/data/predictions/*